html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
img{
  max-width: 100%;
}
.encabezado-sitio{
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.navegacion{
  background-color: #05bae6;
}
.navegacion ul{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  /*Flex direccion lo ponemos como column para que en el media lo pasemos como row forzado*/
  flex-direction: column;
}
.navegacion ul li{
  text-align: center;
  padding: 1rem 0;
}
@media screen and (min-width:768px) {
  .navegacion ul{
    flex-direction: row;
  }
}
.navegacion ul li a{
  color:#ffffff;
  text-decoration: none;
}
/*contenido principal donde se encuentra el main
*/
.contenido-principal{
  max-width: 50%;
  margin: 0 auto;

}
.sidebar{
  background-color: #e5e5e5;
  padding: 2rem;
  margin-bottom: 2rem;
}
.sidebar2{
  background-color: #e5e5e5;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px){
  .contenido{
    display: flex;
  }
  .sidebar{
    flex: 0 0 20%;
    /*el order nos permite decidir si queremos el siderbar a la derecha o la izquierda
    si es a la izquierda le ponemos -1 y si lo queremos a la derecha le quitamos el order*/
    order: -1;
  }
  .sidebar2{
    flex: 0 0 20%;
    order: 2;
  }
}
.footer{
  background-color: #db008d;
  text-align: center;
  color:#ffffff;
}
